body {
  color: #424642;
}

#title {
  background-image: linear-gradient(to bottom right, #438A5E, #B5EAEA);
  padding: 2% 10% 0;

}
h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}
/* navigation section */
.eSa {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: bold;
}

/* head section */
.head {
  padding: 5% 0;
}
.text-head {
  text-align: right;
  color: gray;
  margin-top: 175px;
  padding-left: 100px;
  border-bottom: solid;
  border-image: linear-gradient(to right, #438A5E, #436F8A) 10;
  border-width: thick;
}

.logo-esa {
  width: 400px;
}

/* about us */
#about {
  background-color: #EDF6E5;
  padding: 3% 12%;
  text-align: right;
}
.about-text {
  text-align: right;
}

/* our partner */
#partner {

  background-color: #438A5E;
  padding: 3% 12%;
}

/* contact */
#contact {
  background-color: #EDF6E5;
  text-align: center;
  padding: 5% 12%;
}


@media (max-width: 996px){
  .head {
    position: static;
  }
}
